
  <div class="card mx-auto" style="width: 50rem">
    <div class="card-body">
      <h3 class="card-title">¿Qué es Angular y para qué sirve?</h3>
      <p class="card-text">
        Angular es una plataforma de desarrollo, construida sobre TypeScript. Es
        un framework basado en componentes para crear aplicaciones web
        escalables. Una colección de bibliotecas bien integradas que cubren una
        amplia variedad de características, que incluyen enrutamiento,
        administración de formularios, comunicación cliente-servidor y más. Un
        conjunto de herramientas para desarrolladores que permiten desarrollar,
        compilar, probar y actualizar el código fuente de la aplicación.
      </p>
      <p class="card-text">
        Con Angular, estás aprovechando una plataforma que puede escalar desde
        proyectos de un solo desarrollador hasta aplicaciones de nivel
        empresarial. Angular está diseñado para que la actualización sea lo más
        sencilla posible, y así aprovechar los últimos desarrollos con un mínimo
        de esfuerzo. Lo mejor de todo es que el ecosistema Angular consta de un
        grupo diverso de más de 1,7 millones de desarrolladores, autores de
        bibliotecas y creadores de contenido.
      </p>
      <h5 class="card-title">¿Por qué se necesita un Framework?</h5>
      <p class="card-text">
        En concreto, en el desarrollo de software, un framework es una
        estructura de soporte conceptual y tecnológica definida, generalmente,
        con artefactos o módulos de software específicos, que pueden servir como
        base para la organización y desarrollo de software. Es decir, un
        framework es una especie de plantilla, esquema o estructura conceptual
        basada en tecnología que permite trabajar de una forma mucho más
        sencilla. De esta forma, se evitan posibles errores de programación. Por
        tanto, un marco es un conjunto de herramientas y módulos que se pueden
        reutilizar para diferentes proyectos. Facilitando en varios aspectos el
        desarrollo, mejorando el tiempo, esfuerzo, organización.
      </p>
    </div>
  </div>

