<div class="habilidades">
<h1>Habilidades</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Habilidades Técnicas</h5>
          <ul class="card-text">
            <li>Java</li>
            <li>MySQL</li>
            <li>PL/SQL</li>
            <li>Html</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Android Studio</li>
            <li>Unity</li>
            <li>Angular</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Soft Skills</h5>
          <ul class="card-text">
            <li>Trabajo en equipo</li>
            <li>Comunicación</li>
            <li>Empatía</li>
            <li>Pensamiento crítico</li>  
            <li>Actitud positiva</li>          
            <li>Ética del trabajo</li>
            <li>Capacidad de adaptación</li>
            <li>Resolución de conflictos</li>            
            <li>Gestión de tiempo</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
