<div class="blog">
  <h1>Blog</h1>
  <div class="container">
    <div class="row">
      <!--Articulo1-->
      <div class="col-md-6">
        <div class="card" style="width: 28rem">
          <img src="../../assets/img/git.png" class="card-img-top" alt="Git" />
          <div class="card-body">
            <h5 class="card-title">Qué es Git</h5>
            <p class="card-text">
              Hoy en día, Git es, con diferencia, el sistema de control de
              versiones moderno más utilizado del mundo.
            </p>
            <a routerLink="/articulo1" class="btn btn-primary"
              >Ir al artículo</a
            >
          </div>
        </div>
      </div>
      <!--Articulo2-->
      <div class="col-md-6">
        <div class="card" style="width: 28rem">
          <img
            src="../../assets/img/angularLogo.png"
            class="card-img-top"
            alt="Angular"
          />
          <div class="card-body">
            <h5 class="card-title">¿Qué es Angular y para qué sirve?</h5>
            <p class="card-text">
              Construida sobre TypeScript. Es un framework basado en componentes
              para crear aplicaciones web escalables
            </p>
            <a routerLink="/articulo2" class="btn btn-primary"
              >Ir al artículo</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
